* {
  margin:0;
  padding:0;
}

body {
  background-image:url("images/bg-intro-desktop.png");
  background-color:hsl(0, 100%, 74%) ;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

 .container {
  width:90%;
  margin: 0 auto;
  display:flex;
  align-items: center;
}
.contentleft {
  width:50%;
  color:#fff;
  padding:3em 3em 0 3em;
	box-sizing: border-box;
}
.contentleft h1 {
  font-size:2.5rem;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  text-shadow: 0px 0.3px, 0.3px 0px, 0.3px 0px;
  margin-bottom: 0.5em;
}
.contentright {
  width:50%;
  padding:3em 3em 0 3em;
	box-sizing: border-box;
}
.contentright .blue_button {
  color:white;
  background-color: hsl(248, 32%, 49%);
  text-align: center;
  padding:1em;
  border-radius: 0.7em;
  box-shadow: 0 7px rgba(0,0,0,0.15);
}
.contentright .blue_button:hover {
  background-color:  hsl(249, 10%, 26%) ;
}
.contentright .white_box {
  background-color: white;
  padding-top:2em;
  padding-bottom: 1em;
  border-radius: 0.7em;
  margin-top:1.5em;
  box-shadow: 0 7px rgba(0,0,0,0.15);
}
.white_box .form_box {
  text-align: center;
  margin: auto 10%;
}
.white_box div input,.white_box  div .button {
  width:100%;
  padding:1em;
  font-weight: bold;
  margin:1em 0;
  border: solid #aaa 0.1em;
  border-radius: 0.7em;
  box-sizing: border-box;
}

.form_box div .button{
  background-color: hsl(154, 59%, 51%);
   box-shadow:inset 0 -7px 7px -7px green;
  color:white;
  border: 0;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.form_box div .button:hover {
  background-color:  hsl(249, 10%, 26%) ;
}

.white_box h6{
  width:100%;
  padding:1em;
  margin-top:0;
  box-sizing: border-box;
  color:#aaa
}

.white_box h6 a {
  color:hsl(0, 100%, 74%);
  text-decoration: none;
}
footer {
  margin-top:2em;
  margin-bottom: 0;
  padding:0.5em;
  background:rgba(255,0,0,0.3);
  color:white;
  }
@media(max-width:700px) {
  body {
  background-image:url("images/bg-intro-mobile.png")
  }
  .container{
    flex-direction: column;
    text-align: center;
  }
  .contentleft, .contentright {
    width:100%;
    padding-right:0;
    padding-left: 0;
  }
}
